*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #fafafa;
    min-height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
      background-color: gray;
      text-align: center;
      width: 400px;
      height: auto;
      padding: 1.4rem;
      margin: 100px 0 0 0;
      border-radius:  15px;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.7);
  }

  .container .status {
      height: 1rem;
      color: #fff;
      font-size: 0.8rem;
      letter-spacing: 0.155rem;
      visibility: hidden;
  }

  .status-red {
      color: #fff;
      background-color: #d50000;
  }

  .status-green {
      color: #fff;
      background-color: #25d366 ;
  }

  .container h2{
      padding: 0.1rem 0 0.8rem 0;
      font-size: 1.8rem;
}

.container .form-control #grocecy-item{
    height: 2rem;
    width: 14rem;
    border-radius: 0.2rem;
    border: 1px solid #fff;
    text-align: center;
    font-size: 0.9rem;
}

.container .form-control .submit-btn {
    margin: 0.7rem 0 0 0;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    border: 0;
    background-color: #ffb900;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
}

.grocery-list {
    padding: 0.1rem;
    margin: 1rem 0 0.5rem 0 ;
    background-color: #fff;
    visibility: hidden;
}

.grocery-list ul {
     list-style: none;
     margin: 0.3rem;
}

.grocery-list ul li {
    padding: 0.5rem 0;
    margin: 0.3rem ;
    background: #00b7c3;
    border-radius: .5px .5px .15px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.grocery-list ul li .btn-container button {
    height: 1.1rem;
    width: 1.5rem;
    padding: 0.1rem;
    border-radius: 0.3rem;
    border: none;
    box-shadow: -1px -1px 3px #000 inset;

}

.grocery-list ul li .btn-container button:first-child {
    color: red;
}

